<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/team.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">Showcase your team</small>
          <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">Meet Our Team</h5>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item"><a href="index.html">Starty</a></li>
          <li class="breadcrumb-item active" aria-current="page">Team</li>
        </ul>
      </nav>
    </div>
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section pb-0 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-4 pb-2">
        <div class="section-title text-center">
          <h4 class="title fw-semibold mb-3">About the team</h4>
          <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your
            business greatly. Learn more about our work!</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container-fluid">
    <div class="row mt-4 pt-2">
      <div class="col-12 px-0">
        <div class="tiny-six-item">
          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/09.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Dennis
                  Rosario</a>
                <small class="text-white title-dark">C.E.O</small>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/10.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Billy
                    Gregory</a>
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/11.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Connie
                    Dunton</a>
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/12.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Alberta
                    Petty</a>
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/13.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Shirley
                    Garcia</a>
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card team team-primary">
              <div class="card-img">
                <%= image_tag 'client/14.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
              </div>
              <div class="team-content">
                <div class="name">
                  <a href="javascript:void(0)" class="h6 name text-uppercase d-block mb-0 text-white title-dark">Michael
                    Wheeler</a>
                  <small class="text-white title-dark">Manager</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
