<style>
    #blog_body {
        height: 800px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 10px;
    / / fix bug here
    }

</style>
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/blog01.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in List Layouts</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<div class="container mt-5">
  <div id="result" style="background-color: greenyellow">
  </div>
  <%= form_tag '#', id: "myForm" do %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == 'notice' ? 'success' : 'error' %>"><%= msg %></div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= label_tag 'title', 'Title', class: 'form-field' %>
        <%= text_field_tag 'title', '', class: 'form-control text-dark', value: @blog.title, required: true %>
        <%= hidden_field_tag 'id', '', value: @blog.id %>
        <%= hidden_field_tag 'id', '', value: @blog.id %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= label_tag 'Blog Image', '', class: 'form-field' %>
        <%= image_tag(@blog.blog_image_url, size: '100') unless @blog.blog_image.blank? %>
        <%= file_field_tag 'blog_image', class: 'form-control text-dark', required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= label_tag 'body', 'Body', class: 'form-field' %>
        <div id="blog_body">
          <%= raw @blog.body %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= submit_tag 'Update blog', class: 'form-control btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<script>
    let quill = '';
    window.onload = function () {
        console.log('Page fully loaded!');
        quill = new Quill('#blog_body', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],        // toggled buttons
                    [{ 'header': 1 }, { 'header': 2 }],      // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }], // outdent/indent
                    [{ 'direction': 'rtl' }],                 // text direction
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['link', 'image', 'video', 'code-block']
                ]
            },
            syntax: true,  // Enable syntax highlighting
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });
        quill.getModule('toolbar').addHandler('code-block', () => {
            const range = quill.getSelection();
            quill.insertText(range.index, '\n```javascript\n\n```', 'user');
            quill.setSelection(range.index + 5, 'user');
        });
    };
    
    document.getElementById('myForm').addEventListener('submit', function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        const formData = new FormData();
        formData.append('title', document.getElementById('title').value);
        formData.append('body', quill.root.innerHTML);

        // Add the image file to the FormData
        const imageInput = document.getElementById('blog_image');
        formData.append('blog_image', imageInput.files[0]);

        // Add CSRF token
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        formData.append('authenticity_token', csrfToken);

        // Make an AJAX request to your controller action
        fetch(`/blogs/${document.getElementById('id').value}`, {
            method: 'PATCH',
            body: formData,
            // Don't set Content-Type header manually

            // Include any other headers you need
            headers: {
                'Authorization': 'Bearer your-token',
            }
        })
          .then(response => response.json())
          .then(data => {
              // Handle the response data
              let result = document.getElementById("result");
              result.innerHTML = data.message;
              result.style.display = 'block';
              window.scrollTo({
                  top: 0,
                  behavior: "smooth"
              });
          })
          .catch(error => {
              console.error('Error:', error);
          });
    });
</script>
