<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/blog01.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in List
            Layouts
            <% if current_user && current_user.id.eql?(1) %>
              <%= link_to 'Create', new_blog_path %>
            <% end %>
          </p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <% @blogs.each do |blog| %>
        <div class="col-lg-6 mb-4 pb-2">
          <div class="card blog blog-primary shadow rounded overflow-hidden">
            <div class="row align-items-center g-0">
              <div class="col-md-6">
                <div class="image card-img position-relative overflow-hidden">
                  <%= image_tag blog.blog_image_url, size: 200, class: 'img-fluid', alt: '' %>
                  <div class="card-overlay"></div>
                  <div class="blog-tag">
                    <a href="javascript:void(0)" class="badge text-bg-light">Corporate</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card-body content">
                  <%= link_to blog_path(blog), class: "h5 title text-dark d-block mb-0" do %>
                    <%= blog.title %>
                  <% end %>
                  <!--                  <p class="text-muted mt-2 mb-2"><%#= blog.body.first(100).html_safe %>.</p>-->
                  <%= link_to blog_path(blog) do %>
                    Read More <i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->
      <% end %>
    </div><!--end row-->

    <div class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link active" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
            </a>
          </li>
        </ul>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
