<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/blog01.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in List Layouts <%= link_to 'Create', new_blog_path  %></p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/01.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Corporate</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0"><%= @blog1.title %></a>
                <p class="text-muted mt-2 mb-2"><%= @blog1.body.first(300).html_safe %>.</p>
                <%= link_to blog_path(@blog1) do  %>
                  Read More <i class="uil uil-arrow-right align-middle"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/02.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Branding</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">The Dark Side of Overnight Success</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/03.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Technology</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">The Right Hand of Business IT World</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/04.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Personal</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">How to Create Your Own Viral Moments</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/05.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Business</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">How to Write a Business Plan For Any Business</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/06.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Marketing</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">Seeing the Customer Journey More Clearly</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/07.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Production</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">The Signs of a Highly Giftable Product</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-6 mb-4 pb-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
          <div class="row align-items-center g-0">
            <div class="col-md-6">
              <div class="image card-img position-relative overflow-hidden">
                <%= image_tag 'blog/08.jpg', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>
                <div class="blog-tag">
                  <a href="javascript:void(0)" class="badge text-bg-light">Business</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card-body content">
                <a href="blog-detail-two.html" class="h5 title text-dark d-block mb-0">Defining Your Business Target Audience</a>
                <p class="text-muted mt-2 mb-2">The most well-known dummy text, in the 16th century.</p>
                <a href="blog-detail-two.html" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link active" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
            </a>
          </li>
        </ul>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
