<!-- Hero Start -->
<style>
    #blog_body {
        height: 800px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 10px; //fix bug here
    }
</style>
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/blog01.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in List Layouts</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<div class="container mt-5">
  <%= form_with(model: @blog, url: blogs_path, local: true) do |f| %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == 'notice' ? 'success' : 'error' %>"><%= msg %></div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= f.label :title, for: 'title', class: 'form-field' %>
        <%= f.text_field :title, class: 'form-control text-dark', required: true %>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <%= f.label :body, for: 'title', class: 'form-field' %>
        <%#= f.text_area :body, class: 'form-control text-black', required: true, rows: '10' %>
        <div id="blog_body">
          <h2>Demo Content</h2>
          <p>Preset build with <code>snow</code> theme, and some common formats.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.submit 'create blog', class: 'form-control btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<script>
    window.onload = function() {
        console.log('Page fully loaded!');
        const quill = new Quill('#blog_body', {
            theme: 'snow'
        });
    };
</script>