<style>
    .ql-editor {
        tab-size: 20;
        -moz-tab-size: 20;
        -o-tab-size:  20;
    }
</style>
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/blog01.jpg' %>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
          <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in List Layouts</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<div class="container mt-5">


  <div class="row">
    <div class="row">
      <div class="col">
        <%= @blog.title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="blog_body">
        <%= @blog.body.html_safe %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="blog_body">
        <%= raw @blog.body %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to 'Edit', edit_blog_path(@blog), class: 'form-control btn btn-primary' %>
    </div>
  </div>
</div>
<script>
    let quill = '';
    window.onload = function () {
        console.log('Page fully loaded!');
        quill = new Quill('#blog_body', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],        // toggled buttons
                    [{ 'header': 1 }, { 'header': 2 }],      // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }], // outdent/indent
                    [{ 'direction': 'rtl' }],                 // text direction
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['link', 'image', 'video', 'code-block']
                ]
            },
            syntax: true,  // Enable syntax highlighting
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });
        quill.getModule('toolbar').addHandler('code-block', () => {
            const range = quill.getSelection();
            quill.insertText(range.index, '\n```javascript\n\n```', 'user');
            quill.setSelection(range.index + 5, 'user');
        });
        quill.enable(false);
    };
</script>