<section class="home-slider position-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="bg-home d-flex align-items-center" style="background: url('<%= asset_path('bg/start01.jpg') %>') top;">
          <div class="bg-overlay"></div>
          <div class="container">
            <div class="row justify-content-center mt-5">
              <div class="col-lg-12 text-center">
                <div class="title-heading mt-4">
                  <h4 class="display-3 fw-bold text-white title-dark mb-3">We Prepare Better Way <br> For Accelerators
                  </h4>
                  <p class="text-white-50 mx-auto para-desc">Our design projects are fresh and simple and will benefit
                    your business greatly. Learn more about our work!</p>

                  <div class="mt-4 pt-2">
                    <a href="#pricing_plans" class="btn btn-lg btn-primary">Get Started</a>
                  </div>
                </div>
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end slide-->
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div class="bg-home d-flex align-items-center" style="background: url('<%= asset_path 'bg/start02.jpg' %>') top;">
          <div class="bg-overlay"></div>
          <div class="container">
            <div class="row justify-content-center mt-5">
              <div class="col-lg-12 text-center">
                <div class="title-heading mt-4">
                  <%= image_tag 'logo-icon-light.png', height: "260", alt: '' %>
                  <h3 class="fw-bold text-white title-dark mb-0 mt-4">Investment & Consultant</h3>
                </div>
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end slide-->
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <div class="bg-home d-flex align-items-center" style="background: url('<%= asset_path 'bg/start03.jpg' %>') top;">
          <div class="bg-overlay"></div>
          <div class="container">
            <div class="row justify-content-center mt-5">
              <div class="col-lg-12 text-center">
                <div class="title-heading mt-4">
                  <h4 class="display-3 fw-bold text-white title-dark mb-3">We Prepare Startups <br> For Developers</h4>
                  <p class="text-white-50 mx-auto para-desc">Our design projects are fresh and simple and will benefit
                    your business greatly. Learn more about our work!</p>

                  <div class="mt-4 pt-2">
                    <a href="#pricing_plans" class="btn btn-lg btn-primary">Get Started</a>
                  </div>
                </div>
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end slide-->
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</section><!--end section-->
<!-- Hero End -->

<!-- FEATURES START -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="features-absolute">
          <div class="row">
            <div class="col-md-6">
              <div class="features feature-primary rounded px-4 py-5 bg-white shadow border-0 d-flex align-items-center">
                <div class="fea-icon rounded-circle bg-light text-dark">
                  <i class="uil uil-airplay"></i>
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Responsive Design</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="features feature-primary rounded px-4 py-5 bg-white shadow border-0 d-flex align-items-center">
                <div class="fea-icon rounded-circle bg-light text-dark">
                  <i class="uil uil-eye"></i>
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Retina Ready Graphics</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2">
              <div class="features feature-primary rounded px-4 py-5 bg-white shadow border-0 d-flex align-items-center">
                <div class="fea-icon rounded-circle bg-light text-dark">
                  <i class="uil uil-tachometer-fast-alt"></i>
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Powerful Performance</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2">
              <div class="features feature-primary rounded px-4 py-5 bg-white shadow border-0 d-flex align-items-center">
                <div class="fea-icon rounded-circle bg-light text-dark">
                  <i class="uil uil-palette"></i>
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Unlimited Color Options</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->
          </div><!--end row-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <%= image_tag 'about.jpg', class: "img-fluid rounded shadow", alt: '' %>
      </div><!--end col-->

      <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="section-title ms-lg-5">
          <h4 class="title fw-semibold mb-3">We are a creative design studio!</h4>
          <p class="text-muted">This prevents repetitive patterns from impairing the overall visual impression and
            facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is
            relatively realistic so that the layout impression of the final publication is not compromised.</p>
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-0"><span class="text-dark h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Beautiful
              and easy to understand animations
            </li>
            <li class="mb-0"><span class="text-dark h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Our
              Talented & Experienced Marketing Agency
            </li>
            <li class="mb-0"><span class="text-dark h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>Theme
              advantages are pixel perfect design
            </li>
          </ul>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- FEATURES End -->

<!-- Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title fw-semibold mb-4">Latest Projects & Works</h4>
          <p class="para-desc text-muted mx-auto mb-0">Explore and learn more about everything from machine learning and
            global payments to scaling your team.</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <div class="tiny-five-item">
          <div class="tiny-slide">
            <div class="card portfolio portfolio-classic portfolio-primary m-2 rounded overflow-hidden">
              <div class="card-img position-relative">
                <%= image_tag 'viptechnologies.png', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>

                <div class="pop-icon">
                  <%= link_to asset_path('viptechnologies.png'), class: 'btn btn-pills btn-icon lightbox' do %>
                    <i class="uil uil-camera"></i>
                  <% end %>
                </div>
              </div>
              <div class="content pt-3">
                <a href="https://viptechnologies.in/" class="text-dark h6 mb-0 d-block title" target='_blank'>VipTechnologies India</a>
                <small class="text-muted fw-normal mb-0">Website</small>
              </div>
            </div>
          </div><!--end col-->

          <div class="tiny-slide">
            <div class="card portfolio portfolio-classic portfolio-primary m-2 rounded overflow-hidden">
              <div class="card-img position-relative">
                <%= image_tag 'lensefree.png', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>

                <div class="pop-icon">
                  <%= link_to asset_path('lensefree.png'), class: 'btn btn-pills btn-icon lightbox' do %>
                    <i class="uil uil-camera"></i>
                  <% end %>
                </div>
              </div>
              <div class="content pt-3">
                <a href="https://lensfree.co/" class="text-dark h6 mb-0 d-block title" target='_blank'>LenseFree.co</a>
                <small class="text-muted fw-normal mb-0">Website</small>
              </div>
            </div>
          </div><!--end col-->
          <div class="tiny-slide">
            <div class="card portfolio portfolio-classic portfolio-primary m-2 rounded overflow-hidden">
              <div class="card-img position-relative">
                <%= image_tag 'touchrails.png', class: 'img-fluid', alt: '' %>
                <div class="card-overlay"></div>

                <div class="pop-icon">
                  <%= link_to asset_path('touchrails.png'), class: 'btn btn-pills btn-icon lightbox' do %>
                    <i class="uil uil-camera"></i>
                  <% end %>
                </div>
              </div>
              <div class="content pt-3">
                <a href="https://touchrails.com/" class="text-dark h6 mb-0 d-block title" target='_blank'>TouchRails</a>
                <small class="text-muted fw-normal mb-0">Website</small>
              </div>
            </div>
          </div><!--end col-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start Pricing -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title fw-semibold mb-4" id="pricing_plans">Pricing Plans</h4>
          <p class="para-desc text-muted mx-auto mb-0">Explore and learn more about everything from machine learning and
            global payments to scaling your team.</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 shadow">
          <div class="p-4 border-bottom border-light">
            <h6 class="fw-semibold mb-3 text-uppercase text-dark">Beginner</h6>
            <p class="text-muted mb-0">For individuals looking for a simple Startups solution</p>

            <div class="d-flex my-4">
              <span class="price h3 fw-semibold mb-0 text-dark">₹ 100</span>
              <span class="text-muted align-self-end mb-1">/mo</span>
            </div>

            <a href="javascript:void(0)" class="btn btn-soft-primary w-100">Buy Now</a>
          </div>

          <div class="p-4">
            <h6 class="mb-3">Features:</h6>
            <ul class="mb-0 list-unstyled">
              <li class="text-muted">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Host 1
                Domains
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 1 GB File
                upload
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 2 GB Secure
                storage
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Unlimited
                bandwidth
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free Email
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free CDN
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Service and Support</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 30-Day
                Money-Back Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 99.9% Uptime
                Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 24/7
                Customer Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Priority
                Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Data Centres
                (India)
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Technical Details</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Git Access
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Cron Jobs
              </li>
            </ul>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 shadow">
          <div class="p-4 border-bottom border-light">
            <h6 class="fw-semibold mb-3 text-uppercase text-dark">Startups</h6>
            <p class="text-muted mb-0">For individuals looking for a simple Startups solution</p>

            <div class="d-flex my-4">
              <span class="price h3 fw-semibold mb-0 text-dark">₹150</span>
              <span class="text-muted align-self-end mb-1">/mo</span>
            </div>

            <a href="javascript:void(0)" class="btn btn-soft-primary w-100">Buy Now</a>
          </div>

          <div class="p-4">
            <h6 class="mb-3">Features:</h6>
            <ul class="mb-0 list-unstyled">
              <li class="text-muted">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span>Host 5
                Domains
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 2 GB File
                upload
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 20 GB Secure
                storage
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Unlimited
                bandwidth
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free Email
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free CDN
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Service and Support</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 30-Day
                Money-Back Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 99.9% Uptime
                Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 24/7
                Customer Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Priority
                Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Data Centres
                (India)
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Technical Details</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Git Access
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Cron Jobs
              </li>
            </ul>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 shadow">
          <div class="p-4 border-bottom border-light">
            <h6 class="fw-semibold mb-3 text-uppercase text-dark">Business</h6>
            <p class="text-muted mb-0">For Business looking for a simple Startups solution</p>

            <div class="d-flex my-4">
              <span class="price h3 fw-semibold mb-0 text-dark">₹200</span>
              <span class="text-muted align-self-end mb-1">/mo</span>
            </div>

            <a href="javascript:void(0)" class="btn btn-soft-primary w-100">Buy Now</a>
          </div>

          <div class="p-4">
            <h6 class="mb-3">Features:</h6>
            <ul class="mb-0 list-unstyled">
              <li class="text-muted">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span>Host 10
                Domains
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 5 GB File
                upload
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 50 GB Secure
                storage
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Unlimited
                bandwidth
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free Email
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free CDN
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Service and Support</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 30-Day
                Money-Back Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 99.9% Uptime
                Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 24/7
                Customer Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Priority
                Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Data Centres
                (India)
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Technical Details</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Git Access
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Cron Jobs
              </li>
            </ul>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 shadow">
          <div class="p-4 border-bottom border-light">
            <h6 class="fw-semibold mb-3 text-uppercase text-dark">Premium</h6>
            <p class="text-muted mb-0">For users looking for a tailored solution</p>

            <div class="d-flex my-4">
              <span class="price h3 fw-semibold mb-0 text-dark">₹250</span>
              <span class="text-muted align-self-end mb-1">/mo</span>
            </div>

            <a href="javascript:void(0)" class="btn btn-soft-primary w-100">Buy Now</a>
          </div>

          <div class="p-4">
            <h6 class="mb-3">Features:</h6>
            <ul class="mb-0 list-unstyled">
              <li class="text-muted">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Host 50
                Domains
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 10 GB File
                upload
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 200 GB
                Secure storage
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Unlimited
                bandwidth
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free Email
              </li>
              <li class="text-muted mt-2">
                <span class="text-danger h5 me-1"><i class="uil uil-times-circle align-middle"></i></span> Free CDN
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Service and Support</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 30-Day
                Money-Back Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 99.9% Uptime
                Guarantee
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> 24/7
                Customer Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Priority
                Support
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Data Centres
                (India)
              </li>
              <li class="text-muted mt-2">
                <p class="h-pricing-card__feature-title t-body-4" data-v-26fd34c8=""><b>Technical Details</b></p>
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Git Access
              </li>
              <li class="text-muted mt-2">
                <span class="text-success h5 me-1"><i class="uil uil-check-circle align-middle"></i></span> Cron Jobs
              </li>
            </ul>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End Pricing -->

<!-- Start -->
<section class="section bg-light overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="me-lg-5">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="section-title text-center text-md-start mb-4 pb-2">
                <h4 class="title fw-semibold mb-4">Work Process</h4>
                <p class="para-desc text-muted mx-auto mb-0">Explore and learn more about everything from machine
                  learning and global payments to scaling your team.</p>
              </div>
            </div><!--end col-->
          </div><!--end row-->

          <div class="row">
            <div class="col-md-12 mt-4 pt-2">
              <div class="features feature-primary rounded border-0 d-flex">
                <div class="fea-icon rounded-circle text-white title-dark shadow avatar avatar-md-sm" style="height: 40px; width: 40px;">
                  1
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Concept</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-md-12 mt-4 pt-2">
              <div class="features feature-primary rounded border-0 d-flex">
                <div class="fea-icon rounded-circle text-white title-dark shadow avatar avatar-md-sm" style="height: 40px; width: 40px;">
                  2
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Development</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->

            <div class="col-md-12 mt-4 pt-2">
              <div class="features feature-primary rounded border-0 d-flex">
                <div class="fea-icon rounded-circle text-white title-dark shadow avatar avatar-md-sm" style="height: 40px; width: 40px;">
                  3
                </div>

                <div class="content flex-1 ms-3">
                  <a href="page-single-service.html" class="title h5 text-dark">Live Demo</a>
                  <p class="text-muted mt-2 mb-0">This prevents repetitive impairing the overall facilitates the
                    comparison.</p>
                </div>
              </div>
            </div><!--end col-->
          </div><!--end row-->
        </div>
      </div><!--end col-->

      <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="img-fluid-responsive position-relative">
          <%= image_tag 'lapy.png', class: 'mx-auto d-block', alt: '' %>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <!--          <h6 class="text-primary">Blogs</h6>-->
          <h4 class="title fw-semibold mt-2 mb-3">Latest Blog & News</h4>
          <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your
            business greatly. Learn more about our work!</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
    <div class="row justify-content-center">
      <% @blogs.each do |blog| %>
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="card blog blog-primary shadow rounded overflow-hidden">
            <div class="image position-relative overflow-hidden">
              <%= image_tag blog.blog_image_url, class: 'img-fluid', alt: '' %>
              <div class="blog-tag">
                <a href="javascript:void(0)" class="badge text-bg-light">Corporate</a>
              </div>
            </div>

            <div class="card-body content">
              <a href="<%= blog_path(blog) %>" class="h5 title text-dark d-block mb-0"><%= blog.title %>
                from Starty</a>
<!--              <p class="text-muted mt-2 mb-2"><%#= blog.body.truncate(100).html_safe %></p>-->
              <a href="blog-detail-five.html" class="link text-dark">Read More
                <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
          </div>
        </div><!--end col-->
      <% end %>
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->



