<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('<%= asset_path 'bg/services.jpg'%>') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row g-0 align-items-center mt-5">
      <div class="col-lg-8 col-md-6">
        <div class="title-heading text-md-start text-center">
          <h5 class="heading fw-semibold page-heading text-white title-dark">Our Services</h5>
          <p class="text-white-50 mb-0">We Are Here To Help You</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tiny-three-item">
          <div class="tiny-slide">
            <div class="card features features-modern feature-primary m-2">
              <div class="card-img position-relative overflow-hidden">
                <%= image_tag 'blog/05.jpg', class: "img-fluid rounded", alt: "" %>
                <div class="overlay rounded"></div>
                <div class="content bg-transparent">
                  <%= link_to my_service_path(1), class: 'text-white small mb-0 d-block title' do %>
                    Read More<i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>
              <div class="px-2 pt-4">
                <%= link_to  'Our Vision', my_service_path(1), class: "title text-dark h5" %>

                <p class="text-muted mt-2 mb-0">It contains a series of real Latin words. This ancient dummy text is
                  also incomprehensible.</p>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card features features-modern feature-primary m-2">
              <div class="card-img position-relative overflow-hidden">
                <%= image_tag 'blog/06.jpg', class: "img-fluid rounded", alt: "" %>
                <div class="overlay rounded"></div>
                <div class="content bg-transparent">
                  <%= link_to my_service_path(1), class: 'text-white small mb-0 d-block title' do %>
                    Read More<i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>

              <div class="px-2 pt-4">
                <%= link_to  'Our Mission', my_service_path(1), class: "title text-dark h5" %>

                <p class="text-muted mt-2 mb-0">It contains a series of real Latin words. This ancient dummy text is
                  also incomprehensible.</p>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card features features-modern feature-primary m-2">
              <div class="card-img position-relative overflow-hidden">
                <%= image_tag 'blog/07.jpg', class: "img-fluid rounded", alt: "" %>
                <div class="overlay rounded"></div>
                <div class="content bg-transparent">
                  <%= link_to my_service_path(1), class: 'text-white small mb-0 d-block title' do %>
                    Read More<i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>

              <div class="px-2 pt-4">
                <%= link_to  'Design and Development', my_service_path(1), class: "title text-dark h5" %>
                <p class="text-muted mt-2 mb-0">It contains a series of real Latin words. This ancient dummy text is
                  also incomprehensible.</p>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card features features-modern feature-primary m-2">
              <div class="card-img position-relative overflow-hidden">
                <%= image_tag 'blog/08.jpg', class: "img-fluid rounded", alt: "" %>
                <div class="overlay rounded"></div>
                <div class="content bg-transparent">
                  <%= link_to my_service_path(1), class: 'text-white small mb-0 d-block title' do %>
                    Read More<i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>

              <div class="px-2 pt-4">
                <%= link_to  'Consultations', my_service_path(1), class: "title text-dark h5" %>

                <p class="text-muted mt-2 mb-0">It contains a series of real Latin words. This ancient dummy text is
                  also incomprehensible.</p>
              </div>
            </div>
          </div>

          <div class="tiny-slide">
            <div class="card features features-modern feature-primary m-2">
              <div class="card-img position-relative overflow-hidden">
                <%= image_tag 'blog/09.jpg', class: "img-fluid rounded", alt: "" %>
                <div class="overlay rounded"></div>
                <div class="content bg-transparent">
                  <%= link_to my_service_path(1), class: 'text-white small mb-0 d-block title' do %>
                    Read More<i class="uil uil-arrow-right align-middle"></i>
                  <% end %>
                </div>
              </div>

              <div class="px-2 pt-4">
                <%= link_to  'Digital Solutions', my_service_path(1), class: "title text-dark h5" %>

                <p class="text-muted mt-2 mb-0">It contains a series of real Latin words. This ancient dummy text is
                  also incomprehensible.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="features feature-primary border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-airplay"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Responsive Design</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="features feature-success border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-eye"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Retina Ready Graphics</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2 mt-lg-0 pt-lg-0">
        <div class="features feature-danger border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-tachometer-fast-alt"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Powerful Performance</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="features feature-info border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-palette"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Unlimited Color Options</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="features feature-warning border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-font"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Customizable Fonts</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="features feature-secondary border-0 d-flex">
          <div class="fea-icon rounded-circle text-white title-dark">
            <i class="uil uil-file-upload-alt"></i>
          </div>

          <div class="content flex-1 ms-3">
            <a href="page-single-service.html" class="title h5 text-dark">Free Updates</a>
            <p class="text-muted mt-2">This prevents repetitive patterns from impairing the overall facilitates the
              comparison.</p>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h6 class="text-primary">Pricing Plan</h6>
          <h4 class="title fw-semibold mt-2 mb-3">Select a Plan <br> Now To Get More Profit</h4>
          <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your
            business greatly. Learn more about our work!</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="card pricing text-center border-0 rounded py-5">
          <h4 class="mb-0">FREE</h4>

          <div class="my-5">
            <h1 class="display-2 fw-medium mb-0">$0</h1>
            <p class="text-muted mb-0">Per Year</p>
          </div>

          <ul class="list-unstyled mb-0">
            <li class="text-muted mt-3">Number of People 01 Person</li>
            <li class="text-muted mt-3">Unlimited Projects</li>
            <li class="text-muted mt-3">Club Access Unlimited Access</li>
            <li class="text-muted mt-3">Class Access Fitness Classes</li>
            <li class="text-muted mt-3">Enhanced Security</li>
          </ul>

          <div class="mt-5">
            <a href="javascript:void(0)" class="btn btn-lg btn-primary">Free</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="card pricing bg-primary bg-gradient text-center border-0 rounded py-5">
          <h4 class="mb-0 text-white title-dark">STARTER</h4>

          <div class="my-5">
            <h1 class="display-2 fw-medium text-white title-dark mb-0">$39</h1>
            <p class="text-white-50 mb-0">Per Year</p>
          </div>

          <ul class="list-unstyled mb-0">
            <li class="text-white-50 mt-3">Number of People 01 Person</li>
            <li class="text-white-50 mt-3">Unlimited Projects</li>
            <li class="text-white-50 mt-3">Club Access Unlimited Access</li>
            <li class="text-white-50 mt-3">Class Access Fitness Classes</li>
            <li class="text-white-50 mt-3">Enhanced Security</li>
          </ul>

          <div class="mt-5">
            <a href="javascript:void(0)" class="btn btn-lg btn-light">Start Now</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="card pricing text-center border-0 rounded py-5">
          <h4 class="mb-0">PROFESSIONAL</h4>

          <div class="my-5">
            <h1 class="display-2 fw-medium mb-0">$59</h1>
            <p class="text-muted mb-0">Per Year</p>
          </div>

          <ul class="list-unstyled mb-0">
            <li class="text-muted mt-3">Number of People 01 Person</li>
            <li class="text-muted mt-3">Unlimited Projects</li>
            <li class="text-muted mt-3">Club Access Unlimited Access</li>
            <li class="text-muted mt-3">Class Access Fitness Classes</li>
            <li class="text-muted mt-3">Enhanced Security</li>
          </ul>

          <div class="mt-5">
            <a href="javascript:void(0)" class="btn btn-lg btn-primary">Update Now</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <!-- Partners start -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-1.svg" class="img-fluid" alt="">
      </div><!--end col-->

      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-2.svg" class="img-fluid" alt="">
      </div><!--end col-->

      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-3.svg" class="img-fluid" alt="">
      </div><!--end col-->

      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-4.svg" class="img-fluid" alt="">
      </div><!--end col-->

      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-5.svg" class="img-fluid" alt="">
      </div><!--end col-->

      <div class="col-lg-2 col-md-2 col-6 text-center pt-4">
        <img src="images/client/logo-6.svg" class="img-fluid" alt="">
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
  <!-- Partners End -->
</section><!--end section-->
<!-- End -->

<!-- CTA Start -->
<div class="container-fluid px-0">
  <div class="py-5 position-relative" style="background: url('<%= asset_path 'cta02.jpg' %>') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-lg-9 col-md-8">
          <h4 class="display-6 h4 mb-0 text-white title-dark fw-medium">We create digital ideas that are bigger, bolder,
            braver and better.</h4>
        </div><!--end col-->

        <div class="col-lg-3 col-md-4 mt-4 mt-sm-0 text-md-center">
          <a href="javascript:void(0)" class="btn btn-light">Join us Now</a>
          <p class="text-white-50 mb-0 mt-2">free trial</p>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end bg image-->
</div><!--end container-->
<!-- CTA End -->
