<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TouchRails1442024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favicon.ico" rel="shortcut icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "css/bootstrap.min.css", media: "all", integrity: true, crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "css/tiny-slider.css", media: "all", integrity: true, crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "css/tobii.min.css", media: "all", integrity: true, crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "css/materialdesignicons.min.css", media: "all", integrity: true, crossorigin: "anonymous" %>
    <link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet" />

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag  'tiny-slider.js' %>
    <%= javascript_include_tag  'tobii.min.js' %>
    <%= javascript_include_tag  'feather.min.js' %>
    <%= javascript_include_tag  'plugins.init.js' %>
    <%= javascript_include_tag  'app.js' %>
  </body>
</html>
